<html>
<head>
<meta name="robots" content="index,follow">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="Компания ООО Бестраншейные технологии произведет ремонт и прокладку наружных инженерных коммуникаций и трубопроводов в Москве. В нашем распоряжении мощная техническая база и профессиональные специалисты!">
<meta name="keywords" content="ремонт наружных инженерных коммуникаций, прокладка трубопроводов">
<title>Ремонт и прокладка наружных инженерных коммуникаций и трубопроводов, компания ООО Бестраншейные технологии в Москве</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body style="margin:0px" bgcolor="#FFFFFF">
<div class="knop">
<div class="knop1"><a href="/zadat-vopros"></a></div>
<div class="knop2"><a href="/sdelat_zayavku"></a></div>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:100%">
  <tr>
    <td height="153" valign="top"><div style="position: relative; width: 100%; height:153px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" background="img/pic_bg.jpg" style="background-repeat:repeat-x" bgcolor="#EDEDF0">
    
  <tr>
        <td><img src="img/pic1.jpg" width="290" height="120"></td>
        <td width="100%"><img src="img/pic2.jpg" width="200" height="120"></td>
        <td><img src="img/pic3.jpg" width="227" height="120"></td>
        <td><img src="img/pic4.jpg" width="220" height="120"></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="240" height="33" valign="top"><img src="img/up_m1.jpg" width="240" height="33"></td>
          <td width="210" height="33" valign="top"><img src="img/up_m2.jpg" width="210" height="33"></td>
          <td height="33" align="right" style="padding-right:70px"><table width="0%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="menu2"><a class="mnu" href="/about">О компании</a></td><td class="menu2"><a class="mnu" href="/partnery">Партнеры</a></td><td class="menu2"><a class="mnu" href="/stati">Статьи</a></td><td class="menu2"><a class="mnu" href="/zadat-vopros">Задать вопрос</a></td><td class="menu2"><a class="mnu" href="/sdelat_zayavku">Оставить заявку</a></td><td class="menu2"><a class="mnu" href="/contacts">Наш адрес</a></td>            </tr>
          </table></td>
        </tr>
      </table>

</td>
  </tr>
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:100%">
      <tr>
        <td width="240" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="41" align="center" background="img/search.jpg"><form action="/search" method="GET" name="" id="">
<input name="search" type="text" style="border: 1px solid #717171;width:120px;height:18px;font-size:10px;" value="быстрый поиск ..." />&nbsp;
<input type="submit" style="border: 1px solid #F00000;height:18px;font-size:10px; background-color:#F00000; cursor:pointer; color:#FFFFFF"  value="поиск" />
</form></td>
          </tr>
          <tr>
            <td height="72" valign="top" background="img/left_mup.jpg" style="background-repeat:no-repeat; background-position:top; padding:15px 11px 40px 30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          
                               <tr>
                <td class="menu"><a class="mnu" href="/bestransheynye_tehnologi" >Бестраншейные технологии</a></td></tr>
                                                        
                               <tr>
                <td class="menu"><a class="mnu" href="/remont_podzemnyh_kommunikaciy__bestransheynym_sposobom" >Ремонт подземных коммуникаций  бестраншейным способом</a></td></tr>
                                                        
                               <tr>
                <td class="menu"><a class="mnu" href="price" >Прайс-лист</a></td></tr>
                                          
            </table></td>
<div class="tel_top"><p>Тел. в Москве: <span style="font-weight: bold; font-size: 16px; background: rgba(255,255,255, 0.5);">8 (495) 543-15-00; 8 (905) 543-15-00<br /></span></p></div>
<div class="form_top"><a href="/zakazat-obratnyy-zvonok?aj" onclick="return hs.htmlExpand( this, {objectType: 'iframe', outlineType: 'rounded-white', wrapperClassName: 'highslide-wrapper drag-header',
        outlineWhileAnimating: true, preserveContent: false, width: 450 } )">заказать обратный звонок</a></div>
</div>
          </tr>
          <tr>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <!--<tr>
                <td height="40" class="name">НАШИ НОВОСТИ</td>
              </tr>
              <tr>
                <td valign="top" class="body2"></td>
              </tr>-->
            </table></td>
          </tr>
          <tr>
            <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td  class="name" align="center">Наши контакты</td>
              </tr>
              <tr>
                <td valign="top" class="tel" style="padding:10px 12px 40px 34px"><div style="text-align: center;">
<p><strong>Адрес</strong>: <br />123060, г. Москва, <br />ул.&nbsp;Расплетина, 19, офис 2</p>
<p><strong>Телефоны</strong>:<br /><span style="color: #888888;">8 (495)</span> <span style="font-size: 13pt;">543-15-00</span><span style="color: #888888;"><br /></span><span style="font-size: 13pt;"></span></p>
</div></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td valign="top" background="img/body_up.jpg" style="background-repeat:no-repeat; background-position:top left"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="height:100%">
          <tr>
            <td height="39" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="24"><h1 class="tema">О компании</h1></td>
              </tr>
              <tr>
                <td height="15" style="padding-left:27px"><table width="0%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="ban"><a class="b" href="/">Главная</a></td>
                <td><img src="img/arr.gif" width="15" height="7"></td>
                <td class="ban"> <a class="d" href="/about">О компании</a>
</td>
<td><img src="img/arr.gif" width="15" height="7"></td>
              </tr>
            </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top" class="body">
<p>Добро пожаловать на сайт компании &laquo;Бестраншейные технологии&raquo;!</p>
<p>Современный подход к ремонту и прокладке наружных инженерных коммуникаций и трубопроводов требует применения инновационных технологий, не нарушающих стабильный ритм жизни населенных пунктов и не наносящих ущерба окружающей среде.</p>
<p><img alt="для главной" border="1" class="round-shape" height="208" src="img/2254603601_7.jpg" style="display: block; margin: 20px auto;" width="580" /></p>
<p>Наша компания специализируется на качественном строительстве, реконструкции и ремонте инженерных сетей различного назначения бестраншейным способом. Мы выполняем полный цикл работ:</p>
<ul>
<li>монтажные работы (без вскрытия верхнего слоя почвы);</li>
<li>пуско-наладочные мероприятия;</li>
<li>сдача нового или реконструированного объекта в эксплуатацию.</li>
</ul>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>Наши услуги, осуществляемые бестраншейным способом</strong></p>
<p>&nbsp;</p>
<div style="margin: 30px auto; width: 90%;">
<div class="usluga"><a href="/remont_podzemnyh_kommunikaciy__bestransheynym_sposobom" class="novaja">Ремонт подземных коммуникаций</a></div>
<div class="usluga"><a href="/remont_vodoprovoda" class="novaja">Ремонт водопровода</a></div>
<div class="usluga"><a href="/remont_kanalizacii" class="novaja">Ремонт канализации</a></div>
<div class="usluga"><a href="/bestransheynaya-prokladka-kommunikacij" class="novaja">Прокладка коммуникаций</a></div>
<div class="usluga"><a href="/bestransheynaya-prokladka-kabelya" class="novaja">Прокладка кабеля</a></div>
<div class="usluga"><a href="/bestransheynaya-prokladka-trub" class="novaja">Прокладка труб</a></div>
</div>
<div align="center">
<div class="uslugasanacija"><a href="/bestransheynaya-sanaciya-truboprovodov" class="novaja">Санация трубопроводов</a></div>
<div class="uslugasanacija"><a href="/bestransheynaya-zamena-truboprovodov" class="novaja">Замена трубопроводов</a></div>
</div>
<div style="clear: both;"></div>
<p>Бестраншейный метод возведения и ремонта наружных инженерных коммуникаций, кабелей, трубопроводов имеет массу преимуществ перед традиционными технологиями:</p>
<ul>
<li>нет необходимости перекрывать движение транспорта и пешеходов в зоне ведения работ &mdash; город продолжает жить в привычном режиме;</li>
<li>окружающая среда претерпевает минимальный ущерб, так как верхний слой почвы не вскрывается;</li>
<li>не наносится никакого вреда существующим наземным коммуникациям;</li>
<li>стоимость работ оценивается в 2,5-3 раза меньше, чем при прокладке траншей.</li>
</ul>
<h2>Преимущества сотрудничества с нашей компанией</h2>
<p>Узкая специализация дает нам возможность сконцентрировать в коллективе компании высокопрофессиональных специалистов в области возведения и реконструкции инженерных коммуникаций. Благодаря огромному опыту работы, мы готовы оперативно и в полном объеме выполнять любые тематические поставленные задачи.</p>
<div class="plus">
<p>Компания &laquo;Бестраншейные технологии&raquo;:</p>
<ul>
<li>применяет в строительстве инженерных коммуникаций передовые методики;</li>
<li>имеет собственную техническую базу, мощную и современную;</li>
<li>использует в работе исключительно высококачественные материалы;</li>
<li>предоставляет гарантию качества на все виды выполняемых работ.</li>
</ul>
</div>
<p>Получить исчерпывающую информацию об особенностях технологии и вариантах обоюдовыгодного сотрудничества Вы в любой момент можете у наших консультантов-менеджеров.</p>
<div style="margin: 30px auto; width: 100%;">
<div class="kartinki"><a href="/contacts"><img alt="Наш номер телефона" height="124" src="img/phone_0.png" title="Наш номер телефона" width="134" /></a> <span class="kont">8 (495) 543-15-00</span></div>
<div class="kartinki"><a href="/contacts"><img alt="Наш адрес электронной почты" height="124" src="img/mail_0.png" title="Наш адрес электронной почты" width="134" /></a> <span class="kont">sviazstroy@rambler.ru</span></div>
<div class="kartinki"><a href="/price"><img alt="Наш прайс-лист" height="124" src="img/price__0.png" title="Наш прайс-лист" width="134" /></a> <a href="/price" title="Узнать цены на наши услуги" class="novajatext">Прайс-лист</a></div>
<div style="clear: both;"></div>
</div>
<p>ООО &laquo;Бестраншейные технологии&raquo; &mdash; Ваш надежный и перспективный партнер!</p>

<script type="text/javascript" src="//yandex.st/share/share.js"
    charset="utf-8"></script>
    <div style="clear:both; height: 1px;">&nbsp;</div>
    <div style="text-align: right;" class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,lj,gplus" ></div> </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="106" valign="top" bgcolor="#EFEFEF" style="border-top:5px so #A7A7A7"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="400" height="91" align="center" class="small"><!--noindex--><!-- begin of Top100 code --> 
<a rel="nofollow" href="http://top100.rambler.ru/top100/"><img src="http://counter.rambler.ru/top100.cnt?1395177" alt="Rambler's Top100" width="1" height="1" border="0" /></a>
<!-- end of Top100 code --> 


<!-- begin of Top100 logo --> 
<a rel="nofollow" href="http://top100.rambler.ru/top100/"><img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif" alt="Rambler's Top100" width="88" height="31" border="0" /></a> 
<!-- end of Top100 logo -->




<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='http://counter.yadro.ru/hit?t14.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border=0 width=88 height=31><\/a>")//--></script><!--/LiveInternet-->


<!--Rating@Mail.ru COUNTEr--><a rel="nofollow" target="_top" 
href="http://top.mail.ru/jump?from=1424219"><img
src="http://db.cb.b5.a1.top.list.ru/counter?id=1424219;t=196"
border="0" height="31" width="38"
alt="Рейтинг@Mail.ru"/></a><!--/COUNTER-->

<a rel="nofollow" href=http://www.aport.ru/ target=_blank><img src=http://www.aport.ru//assets/a9ce2c4f/images/design/promo-new.jpg border=0 width=40 height=31></a>

<br />
<a rel="nofollow" href="http://www.yandex.ru/cy?base=0&amp;host=www.gnb-technology.ru"><img src="<!--http://www.yandex.ru/cycounter?www.gnb-technology.ru-->" width="88" height="31" alt="Яндекс цитирования" border="0" /></a>



<!--Hitmir counter--><script type="text/javascript"><!--
js=1;
document.write('<a href="http://hitmir.ru/click/317"'+
'target=_blank><img src="http://counter.hitmir.ru/hit/317;r='+
escape(document.referrer)+';s='+((typeof(screen)=='undefined')?'':
+screen.width+'*'+screen.height+'*'+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+';u='+escape(document.URL)+';j='+navigator.javaEnabled()+
';rand='+Math.random()+';cookie='+navigator.cookieEnabled+'" alt="" title="Hitmir: показано общее количество визитов, количество визитов за сегодня(хиты), количество уникальных посетителей за сегодня(хосты)" '+
'border=0 width=88 height=31></a>')
if(js=1)document.write('<'+'!-- ')//--></script><noscript><a href="http://hitmir.ru/click;317"
 target=_blank><img src="http://counter.hitmir.ru/hit/317;js=na" alt="" title="Hitmir: показано общее количество визитов, количество визитов за сегодня(хиты), количество уникальных посетителей за сегодня(хосты)"
 border=0 width=88 height=31></a></noscript><script type="text/javascript"><!--
if(js=1)document.write('--'+'>')//--></script>
<!--/Hitmir--> 

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter12155809 = new Ya.Metrika({id:12155809, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<!--script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script-->
<noscript><div><img src="//mc.yandex.ru/watch/12155809" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --><!--/noindex-->
</td>
        <td height="91" align="right"><table width="0%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right"><span class="copyright">&copy; 2007 ООО Связьстрой-ГНБ<br>
                <span style='font-size:10px;' class='copyright'><a target="_blank" href="http://megagroup.ru/base_shop" title="создать интернет магазин" class="copyright">создать интернет магазин</a>, megagroup.ru</span></span></td>
            <td width="80">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="10" align="center"></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>